.header {
  background-color: black;
  margin-top: 60px;
  margin-bottom: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  padding: 30px 90px;
  margin-left: auto;
  margin-right: auto;
}

.subtitle {
  font-size: 25px;
  width: fit-content;
  margin: 0 auto 20px auto;
  font-weight: bold;
}

.title {
  font-size: 30px;
  font-weight: 800;
  color: white;
  margin: 10px;
}

.label {
  color: black;
  margin: 10px;
  font-size: 18px;
  align-self: flex-start;
  font-weight: 600;
}

.content {
  color: black;
  font-weight: 600;
}

.input {
  margin: 10px;
  padding: 1px 2px;
  align-self: flex-end;
}

.subcontainer {
  display: flex;
  flex-direction: column;
}

.m-50 {
  margin: 20px auto 30px auto;
}

.m-10 {
  margin: 10px auto 5px auto;
}

.button {
  width: 200px;
  border-radius: 4px;
  color: white;
  font-size: 18px;
  padding: 5px;
  border: none;
  font-weight: 800;
  border-bottom: 3px solid black;
  border-right: 3px solid black;
}

.button:hover {
  border-bottom: none;
  border-right: none;
  border-top: 3px solid white;
  border-left: 3px solid white;
}

.red {
  background-color: #e74c3c;
}

.green {
  background-color: #07bc0c;
}

.yellow {
  background-color: #f1c40f;
}

.blue, .th {
  background-color: #3498db;
}

.container-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.table {
  border-collapse: collapse;
  width: 100%;
  margin: 20px auto 10px auto;
}

.td, .th {
  border: 1px solid #ddd;
  padding: 8px;
}

.tr:nth-child(even){background-color: #f2f2f2;}

.tr:hover {background-color: #ddd;}

.th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color: white;
}